[submodule "Placing_Marbles"]
	path = Placing_Marbles
	url = git@github.com:tamanishi/Placing_Marbles.git
[submodule "Product"]
	path = Product
	url = git@github.com:tamanishi/Product.git
[submodule "Welcome_to_AtCoder"]
	path = Welcome_to_AtCoder
	url = git@github.com:tamanishi/Welcome_to_AtCoder.git
[submodule "Shift_only"]
	path = Shift_only
	url = git@github.com:tamanishi/Shift_only.git
[submodule "Coins"]
	path = Coins
    url = git@github.com:tamanishi/Coins.git

[submodule "Some_Sums"]
	path = Some_Sums
	url = git@github.com:tamanishi/Some_Sums.git
[submodule "Card_Game_for_Two"]
	path = Card_Game_for_Two
	url = git@github.com:tamanishi/Card_Game_for_Two.git
[submodule "Kagami_Mochi"]
	path = Kagami_Mochi
	url = git@github.com:tamanishi/Kagami_Mochi.git
